@model FusdecMvc.Models.Command

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Comando</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCommand" />
            <div class="form-group">
                <label asp-for="CommandName" class="control-label">Nombre</label>
                <input asp-for="CommandName" class="form-control" />
                <span asp-validation-for="CommandName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">Estado
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CommandStatus" /> 
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UbicacionComando" class="control-label">Ubicacion</label>
                <input asp-for="UbicacionComando" class="form-control" />
                <span asp-validation-for="UbicacionComando" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFundation" class="control-label">Id de la fundacion</label>
                <select asp-for="IdFundation" class="form-control" asp-items="ViewBag.IdFundation"></select>
                <span asp-validation-for="IdFundation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}