@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion para cambio de contraseña";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
        esto es un prototipo no funcional de cambio de contraseña, para volver al inicio oprime el boton <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">! Click aqui ¡</a>
        <section>
            <img src="~/images/logo.jpg" alt="Descripción de la imagen" class="img-fluid w-50 h-50" />
        </section>
    </p>
</div>

