@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar Correo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Prototipo para la confirmación de correo electronico <br /> Para confirmar este usuario haz <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click aquí para confirmar tu correo</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

