@model FusdecMvc.Models.Brigade

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar los datos?</h3>
<div>
    <h4>Brigada</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrigadeName)
        </dd>
        <dt class="col-sm-2">
            Lugar
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrigadeLocation)
        </dd>
        <dt class="col-sm-2">
            estado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrigadeStatus)
        </dd>
        <dt class="col-sm-2">
           Comando
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Command.IdCommand)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdBrigade" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver atrás</a>
    </form>
</div>