# Archivos sensibles
.env
application.properties
local.properties

# Node
node_modules/

# Gradle
.gradle/
build/
**/*.gradle
**/gradle-app.setting
**/gradle.properties
**/gradle-wrapper.properties
!gradle-wrapper.jar

# Kotlin
**/*.kotlin_module
**/*.kotlin_metadata

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Maven / Spring Boot
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HELP.md

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio (solo si es necesario)
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
[Dd]ebug*/
[Rr]elease*/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og*/
*.pdb
*.sdf
*.cache
*.vcxproj.*
*.vcproj.*
*.nupkg
*.snupkg
.vs/
*.dbmdl
*.publishsettings
*.tmp
*.log

# Otros
*.pyc
__pycache__/
*.bak
*.tmp
*.scc
*.pidb
*.svclog
*.tss
*.btp.cs
*.xsd.cs
*.aps
*.plg
*.opt
*.vbw
*.binlog
