@model FusdecMvc.Models.Audit

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Auditoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuditDate" class="control-label">Fecha de auditoria</label>
                <input asp-for="AuditDate" class="form-control" type="date"/>
                <span asp-validation-for="AuditDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfIssuerAudit" class="control-label">Nombre del emisor del certificado</label>
                <input asp-for="NameOfIssuerAudit" class="form-control" />
                <span asp-validation-for="NameOfIssuerAudit" class="text-danger"></span>
            </div>

            <h4>Seleccionar Certificado</h4>
            <table id="dataTable" class="table">
                <thead>
                    <tr>
                        <th>Seleccionar</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Documento</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var certificate in ViewBag.Certificates)
                    {
                        <tr>
                            <td>
                                <input type="radio" name="IdCertificate" value="@certificate.IdCertificate" />
                            </td>
                            <td>@certificate.StudentName</td>
                            <td>@certificate.StudentLastName</td>
                            <td>@certificate.DocumentNumber</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group mt-3">
                <input type="submit" value="&#43; Crear" class="btn btn-success" />
            </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary mt-3">
                    &#8592; Volver atrás
                </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Inicializamos DataTable
            var table = $('#dataTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ entradas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
