@model FusdecMvc.Models.Grade

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Calificación</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Aprobado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            Observaciones
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservationGrade)
        </dd>
        <dt class = "col-sm-2">
            Reporte
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Report.IdReport)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGrade" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>
