@model FusdecMvc.Models.Grade

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Calificación</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdGrade" />
            <div class="form-group">
                <label asp-for="IdReport" class="control-label">Reporte</label>
                <select asp-for="IdReport" class="form-control" asp-items="ViewBag.IdReport"></select>
                <span asp-validation-for="IdReport" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Approved" /> @Html.DisplayNameFor(model => model.Approved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ObservationGrade" class="control-label">Observaciones</label>
                <input asp-for="ObservationGrade" class="form-control" />
                <span asp-validation-for="ObservationGrade" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Guardar Cambios" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
