@model FusdecMvc.Models.NonAttendance

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Inasistencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Asistencia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attendance.AttendanceDate)
        </dd>
        <dt class = "col-sm-2">
            Reporte
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAttendance" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>
