@model FusdecMvc.Models.Unit

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Unidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnitName" class="control-label">Nombre</label>
                <input asp-for="UnitName" class="form-control" />
                <span asp-validation-for="UnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitState" class="form-label">Estado</label>
                <select class="form-control" asp-for="UnitState" required>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="UnitLocation" class="control-label">Ubicación</label>
                <input asp-for="UnitLocation" class="form-control" />
                <span asp-validation-for="UnitLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBrigade" class="control-label">Brigada</label>
                <select asp-for="IdBrigade" class="form-control" asp-items="ViewBag.IdBrigade"></select>
                <span asp-validation-for="IdBrigade" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="&#43; Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
