@model FusdecMvc.Models.Certificate

@{
    ViewData["Title"] = "Create Certificate";
}

<h1>Create Certificate</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StudentName" class="control-label">Nombre del estudiante</label>
                <input asp-for="StudentName" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingrese el nombre del estudiante.
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StudentLastName" class="control-label">Apellidos del estudiante </label>
                <input asp-for="StudentLastName" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingrese los apellidos del estudiante.
                </div>
            </div>

            <div class="form-group">
                <label asp-for="VerificationCode" class="control-label">Codigo de verificacion</label>
                <input asp-for="VerificationCode" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingrese el código de verificación.
                </div>
            </div>

            <div class="form-group">
                <label asp-for="NameOfIssuerCert" class="control-label">Nombre del emisor </label>
                <input asp-for="NameOfIssuerCert" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingrese el nombre del emisor del certificado.
                </div>
            </div>

            <div class="form-group">
                <label asp-for="UserDocumentNumber" class="control-label">Numero de documento</label>
                <input asp-for="UserDocumentNumber" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingrese el número de documento del usuario.
                </div>
            </div>

            <div class="form-group form-check">
                <input class="form-check-input" asp-for="CertificateStatus" required>
                <label class="form-check-label">
                    Estado
                </label>
            </div>

            <div class="form-group">
                <label asp-for="CourseName" class="control-label">Nombre del curso</label>
                <input asp-for="CourseName" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingrese el nombre del curso.
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="&#43; Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}