@model FusdecMvc.Models.School

@{
    ViewData["Title"] = "Crear colegio";
}

<h1>Create School</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SchoolName" class="control-label">Nombre del colegio</label>
                <input asp-for="SchoolName" class="form-control" />
                <span asp-validation-for="SchoolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolEmail" class="control-label">Correo </label>
                <input asp-for="SchoolEmail" class="form-control" />
                <span asp-validation-for="SchoolEmail" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="&#43; Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        // Previene la entrada de espacios en el campo de correo electrónico
        document.querySelector('[name="SchoolEmail"]').addEventListener('input', function (e) {
            this.value = this.value.replace(/\s/g, '');
        });
    </script>

}