@model FusdecMvc.Models.School

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles del colegio</h1>

<div class="card">
    <div class="card-header">
        <h4>Curso</h4>
    </div>
    <div class="card-body">
    <dl class="row">
        <dt class="col-sm-2">
           Nombre del colegio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolName)
        </dd>
        <dt class="col-sm-2">
            Correo del colegio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SchoolEmail)
        </dd>
    </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSchool" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">&#8592; Volver atrás</a>
</div>