@{
    ViewBag.Title = "Acceso Denegado";
}


<h1>Acceso Denegado</h1>
<p>No tienes permisos para acceder a esta página.</p>


<a asp-controller="Home" asp-action="Index" class="btn btn-back"><i class="fas fa-arrow-left"></i> Volver</a>
