@model FusdecMvc.Models.Attendance

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titulo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttendanceTitle)
        </dd>
        <dt class = "col-sm-2">
            Fecha
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>
        <dt class = "col-sm-2">
            Asistencia
        </dt>
        <dd class = "col-sm-10">
            @(Model.AttendanceStatus ? "Asistio" : "No asistio")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAttendance" class="btn btn-warning"><i class="bi bi-info-circle"></i> Editar</a>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>
