@model FusdecMvc.Models.Course

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCourse" />

            <div class="form-group">
                <label asp-for="CourseName" class="control-label">Nombre</label>
                <input asp-for="CourseName" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingrese el nombre del curso.
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label">Descripcion</label>
                <textarea asp-for="CourseDescription" class="form-control" rows="3" required></textarea>
                <div class="invalid-feedback">
                    Por favor, ingrese la descripción del curso.
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CourseHourlyIntensity" class="control-label">Intensidad Horaria</label>
                <input asp-for="CourseHourlyIntensity" class="form-control" required>
                <div class="invalid-feedback">
                    Por favor, ingrese la intensidad horaria del curso.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CourseEstatus" class="form-label">Estado</label>
                <select class="form-control" asp-for="CourseEstatus" required>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="IdFundation" class="control-label">Fundacion</label>
                <select asp-for="IdFundation" class="form-control" asp-items="ViewBag.IdFundation" required>
                    <option value="">Seleccione una fundación</option>
                </select>
                <div class="invalid-feedback">
                    Por favor, seleccione una fundación.
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Guardar Cambios" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}