@model FusdecMvc.Models.Course

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCourse" />
            <div class="form-group">
                <label asp-for="CourseName" class="control-label">Nombre</label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label">Descripcion</label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseHourlyIntensity" class="control-label">IntencidadHoraria</label>
                <input asp-for="CourseHourlyIntensity" class="form-control" />
                <span asp-validation-for="CourseHourlyIntensity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CourseEstatus" /> @Html.DisplayNameFor(model => model.CourseEstatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IdFundation" class="control-label">IdFundacion</label>
                <select asp-for="IdFundation" class="form-control" asp-items="ViewBag.IdFundation"></select>
                <span asp-validation-for="IdFundation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">
        &#8592; Volver atrás
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}